body.light-theme {
    background-color: #fff;
    color: #000;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
